# Файл для игнорирования конфиденциальных данных и зависимостей
.env

# Игнорирование профиля, если он не нужен в репозитории
Profile

# Папки зависимостей, если есть
venv/
__pycache__/

# Игнорирование некоторых IDE
.vscode/
.idea/

# Игнорировать временные файлы ОС (например, macOS)
.DS_Store

# Игнорировать PyCharm и другие IDE
*.iml
