# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual env
venv/
.venv/
env/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Railway
.env
*.sqlite3

# Byte-compiled / optimized / DLL files
*.so
*.egg
*.egg-info/

# dotenv files
.env.*
.env

# System
.idea/
